.col-md-9{
  padding:1% 5% 1% 5%;
  overflow: auto;
  position:absolute;
  }

.col-md-3 {
  background-color:#FAFAFA;
  padding: 1% 5% 1% 5%;
  overflow: auto;
  position:absolute;
  }

#questionstats{
  float:right;
  margin-right: 20px;
}

#questionpanetop{
  background-color:#fafafa;
  padding: 1%;
}

#tocpanetop{
  background-color:#e3e3e3;
}

#selected{
  background-color: grey;
}

#plusicon{
  float: right;
}

#questionicon{
  margin-right:30px;
}

#answericon{
  float:right;
}

#plusicon:hover{
  float: right;
  color: white;
  background-color: black;
}

#agendatitle{
  margin-bottom:0px;
}

#questiontitle{
  text-align:right;
  font-style: italic;
}

#questiontext{
  text-align:left;
}

#answertitle{

}

#answertext{

}

#agenda{
  overflow: auto;
}

#answerstats{
  font-size: 12px;
}

