<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="classroom.css">
  <!--bootstrap-->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">

  <!-- Top Left -->
  <div class="row">
    <div class="col-md-3" id="tocpanetop">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-align-left glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
    </div>
  <!-- Top Right -->
    <div class="col-md-9" id="questionpanetop">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-align-left glyphicon-education" aria-hidden="true"></span>
    </button>
    </div>
  </div>

  <!-- Class Agenda -->
  <div class="row">
    <div class="col-md-3">
      <div class="row" style="overflow-y: scroll;">
        <div class="col-md-12">
  <ol>
    <li>Intro</li>
      <ol>
        <li>Check This Out</li>
        <li>What's Up with That?</li>
        <li>Solution: Arrays</li>
      </ol>
    <li>Module: Working with Arrays</li>
      <ol>
        <li>Removing from Arrays</li>
          <ol>
            <li>Remove Things Like This</li>
            <li>Not Like This</li>
            <li>And Especially Not This Way</li>
            <li><span id="selected">Be Careful Not to...</span></li>
          </ol>
        <li>Useful Array Methods</li>
        <ol>
          <li>This One Method</li>
          <li>Another Method</li>
          <li>Additional Method</li>
          <li>Still Another Method</li>
          <li>Have We Run Out of Useful Methods? No</li>
          <li>Last Method I Swear</li>
          <li>K This Really Is the Last One</li>
        </ol>
      </ol>
      <li>Module: Block the Bad Dreams</li>
          <ol>
              <li>Step One: Preparation</li>
              <li>Step Two: Tin-foil Hat</li>
              <li>Step Three: ?</li>
              <li>Step Four: Count Sheep</li>
              <li>Step Five: Think Happy Thoughts</li>
              <li>Step Six: Enjoy a Restful Night's Sleep</li>
            </ol>
            <li>Practice</li>
            <ol>
              <li>Not the Game</li>
              <li>That I Live and Die For</li>
              <li>We're Talking About</li>
              <li>Practice</li>
            </ol>
            <li>Outro</li>
          </ol>
          <ol>
            <li>Intro</li>
            <li>Module: Working with Arrays</li>
            <ol>
              <li>Removing from Arrays</li>
              <li>Useful Array Methods</li>
            </ol>
            <li>Module: Block the Bad Dreams</li>
            <li>Practice</li>
            <li>Outro</li>
          </ol>
          <ol>
            <li>Intro</li>
            <li>Module: Working with Arrays</li>
            <ol>
              <li>Removing from Arrays</li>
              <li>Useful Array Methods</li>
            </ol>
            <li>Module: Block the Bad Dreams</li>
            <li>Practice</li>
            <li>Outro</li>
          </ol>
          <ol>
            <li>Intro</li>
            <li>Module: Working with Arrays</li>
            <ol>
              <li>Removing from Arrays</li>
              <li>Useful Array Methods</li>
            </ol>
            <li>Module: Block the Bad Dreams</li>
            <li>Practice</li>
            <li>Outro</li>
          </ol>
        </div>
      </div>
    </div>

    <!-- Discussion Pane -->
    <div class="col-md-9" style="overflow-y: scroll;">
      <div class="row">
        <div class="col-md-12 agendatitle">
          <h1 id="agendatitle"><%= classroom.lesson.module.title%><span class="glyphicon glyphicon-plus" id="plusicon" aria-hidden="true"></span></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
          <h3 id="questiontitle"><span class="glyphicon glyphicon-arrow-right" id="questionicon" aria-hidden="true"></span><%= classroom.module.question[0] %></h3>
        </div>
      <div class="row"> <!-- Tags and upvotes -->
        <div class="col-md-12">
          <p id="questionstats"><span><%=upvotes %></span><span><%= author %></span><span><%=Tags.foreach %></span></p>
        </div>
      </div>

      </div>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
            <p id="questiontext">
              <%= classroom.module.question.body %>
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class= "col-md-11">
          <h3 id="answertitle"><a href="[[THE MODAL'S REFERENCE]]" data-toggle="modal" data-target="#questionmodal"><b><%= classroom.module.question[0].answer[0].title %></b></a><span class="glyphicon glyphicon-arrow-left" id="answericon" aria-hidden="true"></span></h3>
        </div>
      </div>
      <div class="row"> <!-- Tags and upvotes -->
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
          <p id="answerstats"><span><%=upvotes %></span><span><%= author %></span><span><%=Tags.foreach %></span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class= "col-md-11">
            <p id="answertext">
              <%= classroom.module.question[0].answer[0].body %>
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class= "col-md-11">
          <h3 id="answertitle"><b><%= classroom.module.question[0].answer[1].title %></b><span class="glyphicon glyphicon-arrow-left" id="answericon" aria-hidden="true"></span></h3>
        </div>
      </div>
      <div class="row"> <!-- Tags and upvotes -->
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
          <p id="answerstats"><span><%=upvotes %></span><span><%= author %></span><span><%=Tags.foreach %></span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class= "col-md-11">
            <p id="answertext">
              <%= classroom.module.question[0].answer[1].body %>
            </p>
        </div>
      </div>
  </div>
</div>
  </body>
</html>
