<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="css/landingpage.css">
  <!--bootstrap-->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body id="wholedamnthing">
  <%- include('../partials/header') %>
  <div class="container" >
    <div class="intro-header">
                <div id="transparentcolor">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <!-- <h1>Propel</h1> -->
                    <h1><img class="logo" src="logotemp.png"></h1>
                    <h3 id="introsubtitle">is learning. Boosted.</h3>
                    <p id="signup">Sign up with LinkedIn:</p>
                    <ul class="list-inline intro-social-buttons">
                      <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                      </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.intro-header -->

    <!-- /.content-section-b -->
    <div class="content-section-a">
      <div class="row">
        <div class="col-md-7"><img src="handraise.jpg" class="img-responsive">
        </div>
          <div class="col-md-5">
            <h1 class="section-heading"><b>Title In Bold</b></h1>
            <h3 class="lead">Copy copy copy copes of copies making copies not plagiarism tho</h3>
          </div>
        </div>
      </div>

    <div class="content-section-a">
      <div class="row">
          <div class="col-lg-5">
            <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
            <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
          </div>
        <div class="col-lg-7"></div>
        </div>
      </div>
    </div>


    <!-- /.content-section-a -->



    <!-- Footer -->
    <footer>
      <div class="row">
          <div class="col-lg-12">
              <ul class="list-inline">
                  <li>
                      <a href="#">Home</a>
                  </li>
                  <li class="footer-menu-divider">&sdot;</li>
                  <li>
                      <a href="#about">About</a>
                  </li>
                  <li class="footer-menu-divider">&sdot;</li>
                  <li>
                      <a href="#services">Services</a>
                  </li>
                  <li class="footer-menu-divider">&sdot;</li>
                  <li>
                      <a href="#contact">Contact</a>
                  </li>
              </ul>
              <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
          </div>
      </div>
    </footer>

  <!-- container -->
  </div>

  <%- include('../partials/scripts') %>

  <script>
    $('#propellogo').addClass('slideInLeft');
  </script>
</body>
</html>
