<header class="landingnav" id="wholedangnavbar">
<!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="wholedangnavbar">
    <div class="container" id="propellogo">
      <img class="navbar-brand" src="assets/images/navbarlogo.png" id="propellogo">

      <div class="navbar-header" id="wholedangnavbar">

      </div>
      <div id="navbar3" class="navbar-collapse collapse" id="wholedangnavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="<$= page === "welcome" ? "active" : "" $>"><a href="/">About</a></li>
          <li class="<$= page === "team" ? "active" : "" $>"><a href="/team">Team</a></li>
          <li><a href="/auth/linkedin">Sign up | Log</a></li>
          <li><a href="/auth/linkedin"><img src="assets/images/linkedinlogo.png" id="linkedinlogo"></a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</header>
