<div class="modal fade" id="addClassModal" tabindex="-1" role="dialog" aria-labelledby="addClassModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addClassModalLabel">Add Class</h4>
      </div>
      <div class="modal-body">
        <form action="submit" id="userform">
          Class Code: <input type="text" name="class-code" placeholder="######" id="class-code"><br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-class-button" data-dismiss="modal" disabled>Add Class</button>
      </div>
    </div>
  </div>
</div>
