  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>Edit Profile</h4>
        </div>
        <div class="modal-body">
          <form action="submit" id="userform">
            First Name: <input type="text" name="first_name" value="<$= user.firstName $>" id="edit-fn"><br>
            Last Name: <input type="text" name="last_name" value="<$= user.lastName $>" id="edit-ln"><br>
            Email: <input type="text" name="email" value="<$= user.email $>" id="edit-email"><br>
            Institution: <input type="text" name="institution" value="<$= user.institution $>" id="edit-institution"><br>
            Location: <input type="text" name="location" placeholder="Los Angeles" id="edit-location"><br>
          </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submit-edit" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
