#wholedangnavbar{
  background-color: #2b3020;
  border-color: #3d4148;
  margin-bottom:0px;
  position:fixed;
}

#propellogo{
  padding:10px;
  max-height: 50px;
  height: auto;
}



.nav>li>a>img{
  max-height:21px;
  max-width:21px;
  display: inline;
  height: auto;
  top:-1.8px;
  left: -29px;
  position:relative;

}
