#wholedangnavbar{
  background-color: #2b3020;
  border-color: #3d4148;
  margin-bottom:0px;
  position:fixed;
}

#propellogo{
  padding:10px;
  max-height: 50px;
  height: auto;
}



.nav>li>a>img{
  max-height:21px;
  max-width:21px;
  display: inline;
  height: auto;
<<<<<<< HEAD
  top:-1.99px;
  left: -29.9px;
=======
  top:-1.8px;
  left: -29px;
>>>>>>> 34f7224748f57854d5b98b117603dfac5a4f0ed2
  position:relative;

}
