#propellogo{
  padding:10px;
  max-height: 50px;
  height: auto;
}

.nav > li > a > img{
  max-height:21px;
  max-width:21px;
  display: inline;
  height: auto;
  top:-1.99px;
  left: -29.9px;
  top:-1.8px;
  left: -29px;
  position:relative;

}
