<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="css/classroom.css">
  <!--bootstrap-->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

  <$- user.newUser ? include('../partials/modal_edit_profile') : "" $>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-3" id="tocpanetop">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-align-left glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
    </div>
    <div class="col-md-9" id="questionpanetop">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-align-left glyphicon-education" aria-hidden="true"></span>
    </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <ol>
            <li>Intro</li>
            <ol>
              <li>Check This Out</li>
              <li>What's Up with That?</li>
              <li>Solution: Arrays</li>
            </ol>
            <li>Module: Working with Arrays</li>
            <ol>
              <li>Removing from Arrays</li>
              <ol>
                <li>Remove Things Like This</li>
                <li>Not Like This</li>
                <li>And Especially Not This Way</li>
                <li><span id="selected">Be Careful Not to...</span></li>
              </ol>
              <li>Useful Array Methods</li>
              <ol>
                <li>This One Method</li>
                <li>Another Method</li>
                <li>Additional Method</li>
                <li>Still Another Method</li>
                <li>Have We Run Out of Useful Methods? No</li>
                <li>Last Method I Swear</li>
                <li>K This Really Is the Last One</li>
              </ol>
            </ol>
            <li>Module: Block the Bad Dreams</li>
            <ol>
              <li>Step One: Preparation</li>
              <li>Step Two: Tin-foil Hat</li>
              <li>Step Three: ?</li>
              <li>Step Four: Count Sheep</li>
              <li>Step Five: Think Happy Thoughts</li>
              <li>Step Six: Enjoy a Restful Night's Sleep</li>
            </ol>
            <li>Practice</li>
            <ol>
              <li>Not the Game</li>
              <li>That I Live and Die For</li>
              <li>We're Talking About</li>
              <li>Practice</li>
            </ol>
            <li>Outro</li>
          </ol>
          <ol>
            <li>Intro</li>
            <li>Module: Working with Arrays</li>
            <ol>
              <li>Removing from Arrays</li>
              <li>Useful Array Methods</li>
            </ol>
            <li>Module: Block the Bad Dreams</li>
            <li>Practice</li>
            <li>Outro</li>
          </ol>
          <ol>
            <li>Intro</li>
            <li>Module: Working with Arrays</li>
            <ol>
              <li>Removing from Arrays</li>
              <li>Useful Array Methods</li>
            </ol>
            <li>Module: Block the Bad Dreams</li>
            <li>Practice</li>
            <li>Outro</li>
          </ol>
          <ol>
            <li>Intro</li>
            <li>Module: Working with Arrays</li>
            <ol>
              <li>Removing from Arrays</li>
              <li>Useful Array Methods</li>
            </ol>
            <li>Module: Block the Bad Dreams</li>
            <li>Practice</li>
            <li>Outro</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h1 id="agendatitle">Be Careful Not To...<span class="glyphicon glyphicon-plus" id="plusicon" aria-hidden="true"></span></h1>
          <div class="col-md-1">
          </div>
          <div class="col-md-11">
            <h3 id="questiontitle"><i>What If I Already Did?</i></h3>
            <p id="questiontext">
            I got this issue: <strong>I already did.</strong> Specifically: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." What do?
            </p>
          </div>
          <div class="col-md-11">
            <h3 id="answertitle"><b>Undo That Shit</b></h3>
          <div class="col-md-1">
          </div>
          <div class="col-md-11">
            <p id="answertext">
            Listen to this: <strong>Time is Reversible.</strong> Specifically: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." QED
            </p>
          </div>
          </div>
        </div>
      </div>
    </div> <!-- Main pane div close -->
  </div>
</div> <!-- Container div close -->
<$- include('../partials/scripts') $>
</body>
</html>

