    <form action="submit" id="new-classroom-form">
      Type: <select id="new-classroom-type">
              <option value="course">courses</option>
              <option value="subject-thread">subject</option>
              <option value="industry-thread">industry</option>
            </select> <br>
      Name: <input type="text" name="name" placeholder="Sociology 101" id="new-classroom-name"><br>
      Add Admin: <input type="text" name="admins" placeholder="" id="new-classroom-admins"><br>
      Description: <textarea type="text" placeholder="Please enter a description about your class..." id="new-classroom-description"></textarea>
      <input type="submit" id="new-classroom-submit">
    </form>


