<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', {subHeading: 'Welcome'}) $>

  <div class="container">
      <h1>Testing Facility</h1>
      <div id="questionList"></div>




  </div>
  <$- include('../partials/scripts') $>
</body>
</html>
