<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Welcome'}) %>

  <main>
    <ul>
      <li><a href="/users">Welcome to the test site</a></li>
    </ul>
  </main>

  <div id="classroom-list"></div>




  <%- include('../partials/scripts') %>
</body>
</html>
